#skills {
	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}
	.wp-block-columns {
		flex-wrap: wrap;
		> div {
			@include media-breakpoint-up('md'){
				flex: 0 0 33%;
			}
			text-align: center;
			margin-bottom: 1rem;
			width: 100%;
			padding: 1rem;
			> div {
				@extend .card;
				padding: 1.5rem;
				-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
				-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
				box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.45);
			}
		}
	}
}

#contact {
	::placeholder {
		padding: 10px;
		color: darken(#e7e7e7, 15%);
	}
	form {
		br {
			display: none;
		}
		label {
			width: 100%;
		}
		input, textarea {
			width: 100%;
			border: 1px solid darken(#e7e7e7, 15%);
			border-radius: 5px;
		}
		input[type="submit"]{
			@extend .btn;
			@extend .btn-primary;
		}
	}
	
}

.animated {
	&.duration-05 {
		animation-duration: .5s;
	}
	&.duration-15 {
		animation-duration: 1.5s;
	}
}

.delay-025s {
	animation-delay: .25s;
}

.delay-05s {
	animation-delay: .5s;
}

.delay-075s {
	animation-delay: .75s;
}

.delay-125s {
	animation-delay: 1.25s;
}

.delay-15s {
	animation-delay: 1.5s;
}
.delay-175s {
	animation-delay: 1.75s;
}

.trigger-animation-zoomIn {
	opacity: 0;
	&.animated {
		opacity: 1;
		animation-fill-mode: both;
	}
}